@charset "UTF-8";
@font-face { font-family:"Arial";src:url("#FontID0") format(svg)}
.str2 {stroke:#37ABC8;stroke-width:13.25}
.str1 {stroke:white;stroke-width:13.25}
.str0 {stroke:white;stroke-width:13.27}
.str3 {stroke:black;stroke-width:20}
.fil10 {fill:none}
.fil7 {fill:black}
.fil9 {fill:#75C5F0}
.fil0 {fill:#B6B5B4}
.fil4 {fill:#BAB9B8}
.fil2 {fill:#C2C1C1}
.fil6 {fill:#C9C8C8}
.fil1 {fill:#D0CFCF}
.fil3 {fill:#DEDEDD}
.fil5 {fill:#F6C201}
.fil8 {fill:white}
.fnt1 {font-weight:normal;font-size:121.27px;font-family:'Arial'}
.fnt0 {font-weight:normal;font-size:404.32px;font-family:'Arial'}
